body {
  font-family: "Helvetica";
  font-size: 1em;
}
#toolbox {
  width: 200px;
  height: 100%;
  background-color: #889cc5;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#toolbox p {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
#toolbox div {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}
#toolbox div div {
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
div.addinput div {
  background-color: #76e076;
}
div.addoutput div {
  background-color: #e7d60f;
}
div.addtask div {
  background-color: #0fe7e7;
}
#toolbox div.inputs, #toolbox div.outputs {
  min-height: 200px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-top: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
}
#toolbox div.inputs {
  background-color: #76e076;
}
#toolbox div.outputs {
  background-color: #e7d60f;
}
table.task_editor {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
table.task_editor tbody {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
table.task_editor tbody.task_inputs {
  background-color: #76e076;
}
table.task_editor tbody.task_outputs {
  background-color: #e7d60f;
  margin-top: 4px;
}
#task_editors {
  background-color: #e0e0e0;
  display: inline;
  position: absolute;
  left: 224px;
  top: 0px;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}
col.io {
  background-color: red;
  width: 100px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-color: black;
}
col.rule {
  background-color: green;
  width: 100px;
}
div.task_table {
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
.task_table p {
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
.div.task-details {
  padding-bottom: 0px;
}
.div.task-details {
  padding-top: 0px;
}
.div.task-details {
  padding-left: 0px;
}
.div.task-details {
  padding-right: 0px;
}
.div.task-details {
  padding-bottom: 0px;
}
.div.task-details {
  padding-top: 0px;
}
.div.task-details {
  padding-left: 0px;
}
.div.task-details {
  padding-right: 0px;
}
.div.task-details {
  padding-bottom: 1px;
}
.div.task-details {
  padding-top: 1px;
}
.div.task-details {
  padding-left: 1px;
}
.div.task-details {
  padding-right: 1px;
}
.div.task-details {
  padding-bottom: 2px;
}
.div.task-details {
  padding-top: 2px;
}
.div.task-details {
  padding-left: 2px;
}
.div.task-details {
  padding-right: 2px;
}
.div.task-details {
  padding-bottom: 3px;
}
.div.task-details {
  padding-top: 3px;
}
.div.task-details {
  padding-left: 3px;
}
.div.task-details {
  padding-right: 3px;
}
