table.ruletable {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: "Verdana", "Helvetica";
}

th,td {
	border: 1px solid black;
	vertical-align: middle;
	padding: 2px 10px 2px 10px;
}

table tr.rulename th {
	color: blue;
	background-color: #DFC;
}

th.rowlabel {
	text-align: left;
}

tr.event td, tr.event th {
	background-color: #EEE;
}

tr.input td, tr.input th {
	background-color: yellow;
}

tr.separator td {
	border: none;
	background-color: #CCC;
	padding-top: 10px;
}
